{% extends 'base.html' %}
{% block title %}- Login{% endblock %}

{% block content %}
<div class="row" style="height: 500px;">
        <div class="col-md-2"></div>
        <div class="col-md-8 panel panel-default" style="padding-top: 100px;">
            <div class="alert alert-info"  style="margin-bottom: 50px;" >Please enter your login informations.</div>
            <form action="" method="post">
                {{form.as_p}}
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="Login" style="margin-top: 50px;">
            </form>
        </div>
        <div class="col-md-2"></div>
</div>
{% endblock %}