{% extends 'base.html' %}
{% block title  %} 상세화면 입니다. {% endblock %}
{% block content %}
    <br><br>
    <p>작성자 : {{ object.author }}</p>
    <img src="{{ object.photo.url }}" width="500" height="500">
    <p style="color: crimson; background: aqua">내용 : {{ object.text|linebreaksbr }}</p>
    <p> 작성일자 : {{ object.created }} </p>
    <div class="row">
        <div class="sol-md-2"></div>
        <div class="col-md-8 panel panel-default">
            {% load disqus_tags %}
            {% disqus_show_comments %}
        </div>
        <div class="sol-md-2"></div>
    </div>

{% endblock %}