<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table border="1">
    <tr>
        <td colspan="7"><a href="{% url 'm_create' %}">멤버 추가</a></td>
    </tr>
    <tr>
        <th>id</th><th>pw</th><th>tel</th><th>addr</th><th>수정</th><th>삭제</th><th>추가</th>
    </tr>

    {% for member in members %}
        <tr>
            <td>{{member.id}}</td>
            <td>{{member.pw}}</td>
            <td>{{member.tel}}</td>
            <td>{{member.addr}}</td>
            <td><a href="{% url 'm_update' pk=member.id %}">수정</a></td>
            <td><a href="{% url 'm_delete' pk=member.id %}">삭제</a></td>
            <td><a href="{% url 'm_detail' pk=member.id %}">상세보기</a></td>
        </tr>
    {% endfor %}
</table>
</body>
</html>